%div{:class => "text-gray-400 border-separate space-y-6 text-sm"}
  = form_with model: @track do |t|
    - if @track.errors.any?
      %h2{:class => "text-red-600"} Errors: 
      %ul{:class => "text-red-600"}
        - @track.errors.full_messages.each do |message|
          %li= message
    = t.label :name
    = t.text_field :name, :class => "m-0 h-6"
    %br/
    = t.label :url
    = t.text_field :url, :class => "m-0 h-6"
    %br/
    = t.label :credits
    = t.text_field :credits, :class => "m-0 h-6"
    %br/
    = t.label :available
    = t.check_box :available, :class => "m-0 h-4"
    %br/
    = t.submit 'Create Track Data', :class => "p-2 bg-gray-500 text-gray-100 cursor-pointer"

  %br/
  %button{:class => "p-2 pl-5 pr-5 bg-gray-500 text-gray-100 text-lg rounded-lg focus:border-4 border-gray-300"}
    = link_to tracks_path do
      Back to index

