= form_with model: @artist do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :permalink
  = f.text_field :permalink
  %br/
  = f.label :bio
  = f.text_area :bio
  = if f.object.errors[:bio].present?
    %span
    = f.object_error[:bio].to_sentence
  %br/
  = f.label :formed_at
  = f.text_field :formed_at
  %br/
  = f.label :verified
  = f.check_box :verified
  %br/
  = f.label :verified_at
  = f.text_field :verified_at
  %br/
  = f.label :avatar_url
  = f.text_field :avatar_url
  %br/
  = f.label :avatar
  = f.file_field :avatar
  %br/
  = f.label :avatar_url
  = f.text_field :cover_photo_url
  %br/
  = f.submit

= link_to artists_path do
  Back to index