-# %p This is coming from artists#index
-# %br/
-# %br/

%table{:class => "table text-gray-400 border-separate space-y-6 text-sm"}
  %thead{:class => "bg-gray-800 text-gray-500"}
    %tr
      %th{:class => "p-3"} Name
      %th{:class => "p-3 text-left"} Permalink
      %th{:class => "p-3 text-left"} Bio
      %th{:class => "p-3 text-left"} Formed at
      %th{:class => "p-3 text-left"} Verified?
      %th{:class => "p-3 text-left"} Verified_at
      %th{:class => "p-3 text-left"} Avatar Url
      %th{:class => "p-3 text-left"} Cover Photo Url
      %th{:class => "text-center"} Action
      -# %th Avatar
  %tbody
    - @artists.each do |artist|
      %tr{:class => "bg-gray-800"}
        %td{:class => "p-3"}= artist.name
        %td{:class => "p-3"}= artist.permalink
        %td{:class => "p-3"}= artist.bio
        %td{:class => "p-3"}= artist.formed_at
        %td{:class => "p-3"}= artist.verified
        %td{:class => "p-3"}= artist.verified_at
        %td{:class => "p-3"}
          %img{ src: "#{artist.avatar_url}" }
        %td{:class => "p-3 max-w-xs"}= artist.cover_photo_url
        -# %td= image_tag artist.avatar, width: "200px" if @artist.avatar.attached?
        %td{:class => "p-3"}
          %div{:class => "flex flex-row text-gray-400 mx-2"}
            %div{:class => "hover:text-gray-100 px-1"}
              = link_to edit_artist_path(artist.id) do
                %i{:class => "text-base"}Edit
            |
            %div{:class => "hover:text-gray-100 px-1"}
              = link_to artist_path(artist.id), method: :delete, data: { confirm: "Are you sure?" } do
                %i{:class => "text-base"}Delete
%br/
%br/
%button{:class => "p-2 pl-5 pr-5 bg-gray-500 text-gray-100 text-lg rounded-lg focus:border-4 border-gray-300"}
  = link_to new_artist_path do
    New Artist Data