%div{:class => "text-gray-400 border-separate space-y-6 text-sm"}
  = form_with model: @album do |a|
    = a.label :name
    = a.text_field :name
    %br/
    = a.label :released
    = a.check_box :released
    %br/
    = a.label :released_at
    = a.text_field :released_at
    %br/
    = a.label :cover_art_url
    = a.text_field :cover_art_url
    %br/
    = a.label :length
    = a.text_field :length
    %br/
    = a.label :kind
    = a.radio_button :kind, 'EP'
    = a.label :kind, 'EP', :value => 'EP'
    = a.radio_button :kind, 'LP'
    = a.label :kind, 'LP', :value => 'LP'
    = a.radio_button :kind, 'Single'
    = a.label :kind, 'Single', :value => 'Single'
    %br/
    = a.submit 'Create Album Data', :class => "p-2 bg-gray-500 text-gray-100 cursor-pointer"

  %br/
  %button{:class => "p-2 pl-5 pr-5 bg-gray-500 text-gray-100 text-lg rounded-lg focus:border-4 border-gray-300"}
    = link_to albums_path do
      Back to index

