%table{:class => "table text-gray-400 border-separate space-y-6 text-sm"}
  %thead{:class => "bg-gray-800 text-gray-500"}
    %tr
      %th{:class => "p-3"} Name
      %th{:class => "p-3 text-left"} Released
      %th{:class => "p-3 text-left"} Released At
      %th{:class => "p-3 text-left"} Cover Art Url
      %th{:class => "p-3 text-left"} Length
      %th{:class => "p-3 text-left"} Kind
      %th{:class => "text-center"} Action
  %tbody
    - @albums.each do |album|
      %tr{:class => "bg-gray-800"}
        %td{:class => "p-3"}= album.name
        %td{:class => "p-3"}= album.released
        %td{:class => "p-3"}= album.released_at
        %td{:class => "p-3 max-w-xs"}
          %img{ src: "#{album.cover_art_url}" }
        %td{:class => "p-3"}= album.length
        %td{:class => "p-3"}= album.kind
        %td{:class => "p-3"}
          %div{:class => "flex flex-row text-gray-400 mx-2"}
            %div{:class => "hover:text-gray-100 px-1"}
              = link_to edit_album_path(album.id) do
                %i{:class => "text-base"}Edit
            |
            %div{:class => "hover:text-gray-100 px-1"}
              = link_to album_path(album.id), method: :delete, data: { confirm: "Are you sure?" } do
                %i{:class => "text-base"}Delete
%br/
%br/
%button{:class => "p-2 pl-5 pr-5 bg-gray-500 text-gray-100 text-lg rounded-lg focus:border-4 border-gray-300"}
  = link_to new_album_path do
    New Album Data