<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  </head>

  <body>
    <div class="flex items-center justify-center min-h-screen bg-gray-900">
      <div class="col-span-12">
        <div class="overflow-auto lg:overflow-visible ">
              
          <%= flash[:notice] %>
          <%= flash[:errors] %>
          <%= yield %>
          
        </div>
      </div>
    </div>
    <style>
      .table {
        border-spacing: 0 15px;
      }

      i {
        font-size: 1rem !important;
      }

      .table tr {
        border-radius: 20px;
      }

      tr td:nth-child(n+9),
      tr th:nth-child(n+9) {
        border-radius: 0 .625rem .625rem 0;
      }

      tr td:nth-child(1),
      tr th:nth-child(1) {
        border-radius: .625rem 0 0 .625rem;
      }
    </style>

  </body>
</html>
